flask
werkzeug
numpy<2.0.0
sentence-transformers
torch
flashrank
rerankers
raglite==0.1.2
spacy
tqdm
python-dotenv
huggingface-hub
langdetect
litellm
llama-cpp-python
markdown-it-py
mdformat-gfm
pandas
pdftext
pg8000
pydantic
pynndescent
scikit-learn
scipy
sqlmodel-slim